    <% if flash[:error].present? %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:error] %>
      </div>
    <% end %>
    <%= form_for Secret.new, html: {class: "mb-5 needs-validation"} do |f| %>
      <div class="form-group">
        <%= f.label :recipient_email, "Enter the email your friend used to register in the Trusona App" %>
        <%= f.text_field :recipient_email, class: "form-control form-control-lg", placeholder: "your friend's email address", required: 'required' %>
        <div class="invalid-feedback">
          Please specify your friend's email.
        </div>
      </div>
      <div class="form-group">
        <%= f.label :secret, "Enter the password, secret text, or private link that you want to share" %>
        <%= f.text_area :secret, rows: "3", class: "form-control", placeholder: "your secret" %>
      </div>
      <button type="submit" class="btn btn-lg btn-primary">Get a shareable link</button>
    <% end %>
