<!DOCTYPE html>
<html>
  <head>
    <title>Securely send secret snippets. It's simple!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-5">
      <%= link_to "#{navbar_logo} Secret Snippet".html_safe, root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= @root_status %>">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= @new_secret_status %>">
            <%= link_to "Create a Secret", new_secret_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= @list_secrets_status %>">
            <%= link_to "My secrets", secrets_path, class: "nav-link"%>
          </li>
          <li class="nav-item <%= @about_status %>">
            <%= link_to "How it Works", page_path(name: "about"), class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted mb-0">
        <img src="https://travis-ci.org/clayton/secret_snippet.svg?branch=master" alt=""> <br>
        &copy; 2018 &mdash; Built for Trusona's May 2018 "Lab Day." Source available on <a href="https://github.com/clayton/secret_snippet">GitHub</a>. Built with <a href="https://www.trusona.com/">Trusona</a>. Inspired by <a href="https://onetimesecret.com/">One Time Secret</a>.
        Download <a href="https://itunes.apple.com/us/app/trusona/id1052983449?mt=8">Trusona for iOS</a> or <a href="https://play.google.com/store/apps/details?id=com.trusona.trusona&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">Trusona for Android</a>.</p>
      </div>
    </footer>

  </body>
</html>
